 <!-- Dia:01/7: Incluido navbar(menu no topo) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Controle de Usuários</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- dia:01/07 substitui o href de criação de link pela biblioteca instalada no Angular: router -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/acessar-conta']">Acessar Conta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/criar-conta']">Criar Conta de Usuário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/recuperar-senha']">Recuperar Senha</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Determinadno que será aberto ao acessar a pagina, será <app-autenticar> -->
<div class="mt-3">
    <!-- Exibir a pagina conforme a rota é selecionada no Navbar-->
    <router-outlet></router-outlet>
    <!-- precisa definir a tela "inicial", qnd nenhuma tiver sido selecionada-->
</div>
<!-- DATA: 08/07/2023: exibição do spinner Interatividade -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">
    Processando requisição, por favor aguarde...
  </p></ngx-spinner
>

